$transition: all .2s ease-in;

@mixin page() {
    @include adaptiveHardValues('padding-top', 56, 120, 120, 120, 120);

    box-sizing: border-box;

}

@mixin container() {
    max-width: 1550px;
    width: 100%;
    margin: 0 auto;

    box-sizing: border-box;

    @include adaptiveHardValues('margin-top', 10, 100, 100, 100, 100);
    @include adaptiveHardValues('padding-right', 16, 40, 60, 60, false);
    @include adaptiveHardValues('padding-left', 16, 40, 60, 60, false);
}