.fetch-error {
    text-align: center;

    p {
        @extend .text;
        text-align: center;
        color: $white;

        &:not(:first-child) {
            margin-top: 12px;
        }

        &:last-child {
            margin-top: 20px;
            color: $orange;
        }
    }

    img {
        width: 80%;
        max-width: 300px;
        margin-top: 16px;
    }
}   