.menu {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 20;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  padding: 30px 16px;

  overflow-y: scroll;

  @include media-breakpoint-up(md) {
    padding: 30px 40px;
    flex-direction: row;
    justify-content: space-between;
  }

  width: 100%;
  height: 100%;

  background-color: $black;

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__navigation {
    display: flex;
    flex-direction: column;

    margin-top: 60px;

    @include media-breakpoint-up(md) {
      margin-top: 0;
    }
  }

  &__navigation-link {
    @extend .heading-m;

    text-decoration: none;
    color: $white;

    &:not(:first-child) {
      @include adaptiveHardValues("margin-top", 20, 30, 30, 30, 50);
    }
  }

  &__contact-email {
    @extend .heading-s;
    color: $white;

    margin-top: 30px;

    @include media-breakpoint-up(md) {
      margin-top: 0;
    }

    text-decoration: none;
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-top: 50px;
    row-gap: 30px;

    justify-content: space-between;

    @include media-breakpoint-up(md) {
      align-items: flex-end;
      row-gap: 0;
      margin-top: 0;
    }
  }

  &__cross {
    position: absolute;

    top: 16px;
    right: 16px;

    @include media-breakpoint-up(md) {
      position: relative;
    }

    color: $white;

    transition: $transition;

    cursor: pointer;

    animation: spinOnHoverOut 0.5s;

    &:hover {
      color: $orange;
      animation: spinOnHoverIn 0.5s;
    }
  }

  &__telegram-link {
    @extend .heading-m;
    color: $orange;
    text-transform: capitalize;
  }
  &--entering {
    animation: slideFromLeft 0.5s;
  }

  &--finishing {
    animation: slideToLeft 0.5s;
  }
}

@keyframes spinOnHoverIn {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 180deg;
  }
}
@keyframes spinOnHoverOut {
  from {
    rotate: 180deg;
  }

  to {
    rotate: 0deg;
  }
}

@keyframes slideFromLeft {
  from {
    left: 100%;
  }

  to {
    left: 0;
  }
}
@keyframes slideToLeft {
  from {
    left: 0%;
  }

  to {
    left: 100%;
  }
}
